.container-fluid {
  height: 100vh;
}

.left, .right, .col-2 {
  overflow-y: auto;
}

.info__chat {
  display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    /* padding: 0; */
    top: 77px;
    left: 408px;
    width: 630px;
    background: #fff3cd;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

.type, .detail {
  margin-left: auto;
}

.messages-container {
  overflow-y: auto;
  padding: 10px;
}

.message {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  max-width: fit-content;
}

.my-message {
  align-self: flex-end;
  background-color: #DCF8C6;
}

.other-message {
  align-self: flex-start;
  background-color: #FFF;
}

.input-container {
  border-top: 1px solid #ccc;
  align-items: center;
}

.input-container input {
  border: none;
  outline: none;
  padding: 10px;
  margin-right: 10px;
}

.btn {
  cursor: pointer;
  padding: 10px;
}

.btn i {
  font-size: 1.5rem;
}

.css-seach {
  position: absolute;
  padding: 0;
  top: 76px;
  left: 131px;
  width: 242px;
  height: 40px;
}

.css-room {
  position: absolute;
  padding: 0;
  top: 110px;
  left: 131px;
  width: 242px;
  height: 40px;
}

.member {
  position: absolute;
  padding: 0;
  top: 78px;
  left: 1050px;
  width: 180px;
  height: 68px;
  background: #fff3cd;
  padding: 10px 54px;
}
